body {
    background-color: bisque;
    font-family: "Montserrat", sans-serif;

}

a {
    color: #222;
    text-decoration: none;
}

.container {
    max-width: 1446px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_title {
    text-align: center;
    color: #2b2b2b;
}

.hero_title h3 {
    color: #111111;
}

.hero_title a:hover {
    opacity: 0.8;
    letter-spacing: 1px;
}

.hero_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero_page h3 {
    font-weight: 400;
    font-size: 64px;
    font-weight: 600;

}

.hero_page h4 {
    font-weight: 400;
    font-size: 48px;
    font-weight: 600;

}



/* ======== certs styke============== */

.journey_home_link {
    position: fixed;
    right: 40px;
    color: rgb(240, 82, 43);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


.sessions h2 {
    color: rgb(240, 82, 43);

}

.sessions {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.session_1 a {
    text-decoration: underline;
}

/* ================= media medium====================== */
@media (max-width: 1023px) {
    .container {
        padding: 0 20px;
    }

}

/* ================= media mobile====================== */
@media (max-width: 767px) {
    .container {
        padding: 0 10px;
        overflow: hidden;
    }

    .hero_page {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


    .hero_image {
        width: 100%;
        opacity: 70%;
    }

    .hero_title {
        position: absolute;
        top: 200px;
        right: 148px;
        margin: 0;
    }

    .sessions {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .session {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 56px;
    }

}